* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
  text-decoration: none;
}

body {
  background: #272727;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 12% 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  /*border-bottom: 2px solid #ccc;*/
}

.logo img {
  width: 150px;
}

.nav a {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav a:hover,
.nav a:active {
  color: #00a53f;
  border-bottom: 3px solid #00a53f;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  display: flex;
  justify-content: center;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span:before {
  content: "Agenda de Contatos";
  color: #bc0571;
  animation: words 20s infinite;
}

.text-animation span:after {
  content: "";
  background-color: #272727;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #bc0571;
  right: -8px;
  animation: cursor 0.7s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
    border-left: 3px solid #bc0571;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Lorran Dev";
  }
  21%,
  40% {
    content: "Novos Contatos";
  }
  41%,
  60% {
    content: "Agenda de Contatos";
  }
  61%,
  80% {
    content: "schedule contact";
  }
  81%,
  100% {
    content: "Agenda de Contatos";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 10px);
  }
}

/* Form */
form {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
}

form input {
  font-size: 24px;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  margin: 0 1rem;
}

form button {
  font-size: 24px;
  padding: .5rem;
  border-radius: 5px;
  background: #00a53f;
  color: #fff;
}
